<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Proyecto - SprintPilot</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color: #6a5acd; display: flex; justify-content: center; align-items: center; min-height: 100vh; margin: 0;">
/--Hay que poner esto en partials--/
    <button id="openModal">Abrir Formulario</button>
    <%- include('partials/formProyecto') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/projectValidation.js"></script>
</body>
</html>