.sprint {
  width: 90%;
  margin: 2em auto 0;
  color: var(--white);
}

.sprint hr {
  height: 5px;
  margin: 20px 0;
  border: var(--white);
  opacity: 1;
  background-color: var(--white);
}

.contenidoSprint {
  padding: 1.2em;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(1px);
}

.requisitosSprint {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
}

@media (max-width: 768px) {
  .sprint {
    width: 95%;
  }
}
.sprints-pasados {
  padding: 20px;
}

.lista-sprints-pasados {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sprint-card-faded {
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff20; /* blanco translúcido */
  border: 1px solid #ffffff40;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: 0.3s ease;
}

.sprint-card-faded:hover {
  filter: grayscale(0%);
  opacity: 1;
  cursor: pointer;
}
